<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="warn"
      internalLogToConsole="true">

	<variable name="DirectoryLogs" value="${basedir}/logs/${shortdate}"/>

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
		<add assembly="NLog.Database" />
	</extensions>

	<targets>
		<target xsi:type="File" name="AllFileLogs"
			  fileName="${DirectoryLogs}/nlog-${shortdate}.log" deleteOldFileOnStartup="true" concurrentWrites="true"/>
		<target name="TcpOutlet" xsi:type="NLogViewer" address="tcp://localhost:5040"/>
		<target name="DatabaseTarget" xsi:type="Database" dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient"
			connectionString="Data Source=SOCUTE\SQLEXPRESS;Initial Catalog=NLOG;Integrated Security=True;Trust Server Certificate=True">
			<commandText>
				INSERT INTO Log (level, logger, message) VALUES (@level, @logger, @message);
			</commandText>
			<parameter name="@level" layout="${level}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@message" layout="${message}" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="AllFileLogs"/>
		<logger name="*" minlevel="Trace" writeTo="TcpOutlet"/>
		<logger name="*" minlevel="Fatal" writeTo="TcpOutlet"/>
		<logger name="*" minlevel="Fatal" writeTo="DatabaseTarget"/>
	</rules>
</nlog>